@keyframes fadeInAnimation{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/* General Styles */
body, html{
	background-color: #E3E2E4;
	margin: 0;
	padding: 0;
	animation:fadeInAnimation 1s ease;
	-webkit-animation:fadeInAnimation 1s ease;
	scroll-behavior: smooth;
}
body::after{
	display:none;
 	content: url(./images/img0.jpg) url(./images/img1.jpg) url(./images/img2.jpg);
}
.img{
    outline: none;
    border:none;
}
button:focus {
    outline:none;
    box-shadow: none;
}
a{ 
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select:none; 
	-webkit-touch-callout:none; 
	-moz-user-select:none; 
	-ms-user-select:none; 
	user-select:none;    
} 
button{
	cursor: pointer;
	color:transparent;
	text-shadow: 0 0 0 rgb(228, 228, 228);
	background-color: transparent;
	border: none;
	margin-left: -5px;
	transition: ease 1s;
	-webkit-transition: ease 1s;
	-moz-transition: ease 1s;
	-ms-transition: ease 1s;
	-o-transition: ease 1s;
}
button:hover{
	color: transparent;
  	text-shadow: 0 0 0 rgb(47, 45, 45);
}
h2{
	font-family: 'Trebuchet MS', sans-serif;
	font-size: x-large;
}
h1{
	font-family: 'Lora', serif; 
}

/* Homepage */
.home{
	width: 100%;
	height: 100%;
}
.navbar-container{
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 70px;
	background-color: black;
	opacity: 0.8;
}
.navbar-container .logo{
	float: right;
	width: 70px;
}
.navbar{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
}
.navbar a{
	margin-left: 20px;
	height: 70px;
	color: white;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: large;
	transition:ease 0.3s;
	-webkit-transition:ease 0.3s;
	-moz-transition:ease 0.3s;
	-ms-transition:ease 0.3s;
	-o-transition:ease 0.3s;
}
.navbar a:hover{
	padding-bottom: 10px;
	border-bottom:solid white 2px;
}
/* Image slider */
.image-slider{
	transition:  0.7s ease-in-out;
	opacity: 0.90;
	position: relative;
	width: 100%;
	height: 60vh;
	overflow:hidden;
	background-size: cover;
	background-position: center;
	background-image: url(./images/img0.jpg);
	-webkit-transition:  0.7s ease-in-out;
	-moz-transition:  0.7s ease-in-out;
	-ms-transition:  0.7s ease-in-out;
	-o-transition:  0.7s ease-in-out;
}
.image-changer{
	font-size: large;
	position: absolute;
	bottom: 0;
	left: 50%;
	padding-bottom: 15px;
	text-shadow: 10px 10px 10px black;
	opacity: 0.9;
	transform:translate(-50%,-50%);
	color: white;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
}
.home-header{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 8vw;
	color: white;
	text-shadow: 10px 10px 10px black;
	font-family: 'Lora', serif;
	margin-block-start: 0;
	margin-block-end: 0;
}
.home-header-text, .about-header-text{
	width: 100%;
	margin-block-start: 0;
	margin-block-end: 0;
	position: absolute;
	padding-top: 10%;
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	top: 50%;
	left: 50%;
	text-align: center;
	color: white;
	text-shadow: 20px 20px 20px black;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
/* Homepage footer section */
.home-container-footer{
	position: relative;
	height: 100%;
}
 .box{
	width: 30%;
	background-color: whitesmoke;
	border-radius: 5%;
	text-align: center;
	padding: 10px;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);	
}
.home-container-footer .box-text{
	display: block;
	margin:0 auto;
	width: 70%;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-size: large;
}
.box-text img{
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	width: 50%;
}
.box-text .user-image{
	width: 50%;
}
.box-text p{
	font-family: calibri;
}
.box-center{
	position: relative;
	display: inline-block;
	z-index: 1;
	padding-bottom: 35px;
}
.box-left{
	display: inline-block;
	padding-bottom: 25px;
	margin-right: -15px;
}
.box-right{
	position: relative;
	display: inline-block;
	padding-bottom: 25px;
	margin-left: -15px;
}
.box-container{
	text-align: center;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 40px;
	height: auto;
}
/* About page */
.about{
	position: relative;
	width: 100%;
}
.about-content{
	width: 100%;
}
.about-content p{
	padding-top: 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	font-weight: 550;
}
.about-header{
	z-index: 2;
	position: relative;
	transition:  0.7s ease-in-out;
	width: 100%;
	height: 40vh;
	overflow:hidden;
	background-size: cover;
	background-position: center;
	background-image: url(./images/about-background.jpg);
	-webkit-transition:  0.7s ease-in-out;
	-moz-transition:  0.7s ease-in-out;
	-ms-transition:  0.7s ease-in-out;
	-o-transition:  0.7s ease-in-out;
}
.about-header h1{
	margin: 0;
	padding: 0;
	opacity: 0.6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	opacity: 0.92;
	font-size:8vw;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.about .box{
	padding: 15px;
	margin-left: 10px;
	padding-bottom: 30px;
}
.about-box-left {
	display: inline-block;
	margin-bottom: 15px;
}
.about-box-center{
	display: inline-block;
	margin-bottom: 15px;

}
.about-box-right{
	display: inline-block;
}
.about .box-container{
	margin-top: 30px;
	text-align: center;
	width: 100%;
	font-size: large;
	font-family: calibri;
	
}
.about .box-text{
	padding-top: 5px;
	text-align: left;
	width: 90%;
	display: block;
	margin: 0 auto;
}
.about .box-container img{
	width: 20%;
}
.commitmentImg{
	width: 50%  !important;
}
.about-logo-section{
	padding-top: 15px;
	position: relative;
}
.about .logo{
	width: 10%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.about .circle{
	width: 20%;
	display: block;
	margin: 0 auto;
}
/* Contact page */
.contact{
	height: 100vh;
	width: 100%;
}
.contact-header{
	position: relative;
	height: 40vh;
	background-position: center;
	background-size: cover;
	background-image: url("./images/contact-background.jpg");
	transition: ease-in-out 0.8s;
	-webkit-transition: ease-in-out 0.8s;
	-moz-transition: ease-in-out 0.8s;
	-ms-transition: ease-in-out 0.8s;
	-o-transition: ease-in-out 0.8s;
}
.contact-header p{
	top: 70%;
	color: white;
	transform: translate(0,-65%);
	padding-top: 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	font-weight: 550;
	-webkit-transform: translate(0,-70%);
	-moz-transform: translate(0,-70%);
	-ms-transform: translate(0,-70%);
	-o-transform: translate(0,-70%);
	text-shadow: 10px 10px 10px black;
}
.contact-header h1{
	margin: 0;
	padding: 0;
	opacity: 0.6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	opacity: 0.9;
	font-size:8vw;
	text-shadow: 10px 10px 10px black;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.contact-content{
	width: 100%;
}
.contact-content p{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	padding-top: 20px;
}
.contact-content-container{
	display: inline-block;
	margin-left: 20px;
	margin-top: 15px;
	font-family: calibri;
	width: 40%;
	vertical-align: top;
}
.contact-content-container .box{
	display: inline-block;
}
.contact-content-container p{
	width: 100%;
	text-align: center;
}
.email, .contact{
	padding-top: 0px !important;
}
.email-phone-container{
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: left;
}
.contact-content-text{
	display: block;
	width: 60%;
	margin: 0 auto;
	margin-top:15px;
}
.contactIcon{
	width: 20%;
}
.map-container .box{
	width: 90%;
	display: inline-block;
}
.map-container{
	display: inline-block;
	width: 50%;
	margin-left: 15px;
	margin-top: 15px;	
}
.map-contact-container{
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.map iframe{
	display: inline-block;
	width: 98%;
}
.contact-form-container{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
}
.contact-form{
	padding: 15px;
}
.contact-form input{
	width: 40%;
	margin-top: 5px;
	border: none;
	font-size: large;
}
.send-button{
	background-color: rgb(119, 119, 119);
	opacity: 0.6;
	color: white;
	height: 25px;
}

/* Media Queries */
@media screen and (min-width:1200px){
	.home-header, .about-header h1, .contact-header h1{
		font-size: 90px;
	}
	.image-changer{
		font-size: medium;
	}
	.box-text img{
		width: 150px;
	}
	.box-text .user-image{
		width: 80px;
	}
	.about .circle{
		width: 200px;
	}
	.about .logo{
		width: 150px;
	}
	.home .box{
		width: 350px;
	}
	.about .box{
		width: 350px;
	}
	.contact-content-container{
		width: 450px;
	}
	.contact-form input{
		width: 300px;
	}
	.contact-form-container{
		width: 400px;
	}
}
@media screen and (max-width:1300px){
	.navbar a{
		font-size: medium;
	}
	.home-header-text, .about-header-text{
		font-size: medium;
		padding-top: 20%;
	}
	.image-changer{
		font-size: small;
	}
	.navbar-container .logo{
		width: 50px;
	}
	h2{
		font-size:medium;
	}
	.home-container-footer .box-text{
		font-size: medium;
	}
	.about .box-container{
		font-size: medium;
	}
	.about-logo-section{
		position: relative;
	}
	.home .box{
		width: 28%;
	}
	.about .box{
		width: 35%;
	}
	.home .box-container{
		margin-left: 15px;
	}
	.about-content p, .contact-header p{
		font-size: medium;
	}
	.contact-content{
		font-size: medium;
	}
	.map-container{
		width: 90%;
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-top: 15px;
	}
	.contact-content-container{
		width: 80%;
		display: block;
		margin: 0 auto;
		margin-top: 15px;
	}
	.contact-form-container{
		width: 80%;
		display: block;
		margin: 0 auto;
		margin-top: 10px;
	}
	.contact-form-container input{
		width: 80%;
		font-size: medium;
	}
	
	
}
@media screen and (max-width:500px){
	.navbar a{
		font-size: x-small;
	}
	.home-header-text, .about-header-text{
		font-size: x-small;
	}
	.image-changer{
		font-size: 1px;
	}
	.navbar-container .logo{
		width: 40px;
	}
	h2{
		font-size:small;
	}
	.home-container-footer .box-text{
		font-size: x-small;
	}
	.home-container-footer .box-left{
		left: 3%;
	}
	.home-container-footer .box-right{
		right:3%;
	}
	.about .box-container{
		font-size: x-small;
	}	
	.about-content p, .contact-header p{
		font-size: x-small;
	}
	.contact-header p{
		top: 60%;
		transform: translate(0, -60%);
		-webkit-transform: translate(0, -60%);
		-moz-transform: translate(0, -60%);
		-ms-transform: translate(0, -60%);
		-o-transform: translate(0, -60%);
	}
	.contact-content{
		font-size: x-small;
	}
	.contact-form-container input{
		width: 100%;
		font-size: x-small;
	}
}
